{%extends 'base.html'%}
{%load bootstrap4%}
{{block.super}}
{%block content%}
{%for i in projects%}
<div style="background-image:url({{i.image.url}});" class=" single">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1 class="hed">{{i.name}}</h1>
          <p class="i">by <b class='b'>{{i.user}} </b> with 10.00</p>
          <div class="design">
              <a href="">content</a>
          </div>

        </div>
        <div class="col-md-3">
          {%if user.is_authenticated%}
          <br>
          <button id='love' class="btn btn-outline-default" type="button" name="button">Rate</button>
          <div class="form animated fadeIn">
            <form id='send' class="" action="project/{{i.id}}" method="post">
              {%csrf_token%}
              {%bootstrap_form form%}
              <button class="btn btn-outline-default" type="submit" name="button">Submit</button>
            </form>

          </div>
          {%else%}
            <a href="/accounts/login/"><button class="btn btn-outline-default" type="button" name="button">Login to rate</button></a>
          {%endif%}
        </div>
      </div>
    </div>



  </div>
</div>
{%endfor%}
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    {%for project in projects%}
    <div class="col-md-8">
      <br>
      <p class="head">{{project.description}}</p>
      <div class="card">
        <div class="image">
            <a class="img" href="{{project.link}}">  <img class="img-fluid" src="{{project.image.url}}" alt=""></a>
        </div>

          <div class="card-footer">
              <p>{{project.name}}</p> <i>{{project.date}}</i>
          </div>
      </div>

    </div>
    {%endfor%}
    <div class="col-md-2"></div>

  </div>
  <hr class="bg-default">
  <div class="row">
    <div class="col-md-12">
      <div class="links">
        <a href="#">Screenshot</a>
        <a href="#">Votes</a>
          <a href="#">Comments</a>
      </div>

    </div>

  </div>

</div>

{%endblock%}
