{%extends 'base.html'%}
{%load bootstrap4%}
{{block.super}}
{%block content%}
{%for i in projects%}
<div style="background-image:url({{i.image.url}});" class=" single">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a id='visit' class="btn btn-outline-default bg-default" href="{{i.link}}">Visit site</a>
        </div>
        <div class="col-md-6">
          <h1 class="hed">{{i.name}}</h1>
          <p class="i">by <b class='b'>{{i.user}} </b> with a Rating of <strong> {{average}}</strong></p>
          <div class="design">

              <a target="_blank"  href="{{i.link}}">{{design}}</a>
              <i id="de">design</i>
              <a target="_blank" href="{{i.link}}">{{usability}}</a>
              <i id="us">usability</i>
              <a target="_blank" class='b' href="{{i.link}}">{{content}}</a>
              <i  id="con">content</i>

          </div>

        </div>
        <div class="col-md-3">
          {%if user.is_authenticated%}

          <button id='love' class="btn btn-outline-default" type="button" name="button">Rate</button>
          {%if user.id   not in   auth   %}
          <br>
          <div class="form animated fadeIn">
            <form id='send' class="" action="/project/{{i.id}}/" method="post">
              {%csrf_token%}
              {%bootstrap_form form%}
              <button class="btn btn-outline-default" type="submit" name="button">Submit</button>
            </form>

          </div>
          {%else%}
          <p class="alert alert-info">Thank You for  Rating This app</p>
          {%endif%}
          {%else%}
            <a href="/accounts/login/"><button class="btn btn-outline-default" type="button" name="button">Login to rate</button></a>
          {%endif%}
        </div>
      </div>
    </div>



  </div>
</div>
{%endfor%}
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    {%for project in projects%}
    <div class="col-md-8">
      <br>
      <p class="head">{{project.description}}</p>
      <div class="overl">
          <button class="btn btn-outline-dark" type="button" name="button">Jquery</button>
          <button class="btn btn-outline-dark" type="button" name="button">Css3</button>
          <button class="btn btn-outline-dark" type="button" name="button">Javascript</button>
          <button class="btn btn-outline-dark" type="button" name="button">UI</button>
          <button class="btn btn-outline-dark" type="button" name="button">Material Design</button><br>
          <button class="btn btn-outline-dark" type="button" name="button">Bootstrap</button>
          <button class="btn btn-outline-dark" type="button" name="button">SweetAlert</button>
          <button class="btn btn-outline-dark" type="button" name="button">Bootstrap</button>
          <button class="btn btn-outline-dark" type="button" name="button">Touch</button>
          <button class="btn btn-outline-dark" type="button" name="button">Design</button>
          <button class="btn btn-outline-dark" type="button" name="button">Animation</button>
          <button class="btn btn-outline-dark" type="button" name="button">Machine AI</button>
          <button class="btn btn-outline-dark" type="button" name="button">Graphics</button>

      </div>
      <br>

    </div>
    {%endfor%}
    <div class="col-md-2"></div>

  </div>
  <hr class="bg-default">
  <div class="row">
    <div class="col-md-12">
      <div class="links">
        <a href="#shots">Screenshot</a>
        <a href="#comm">Votes</a>
          <a href="#om">Comments</a>
      </div>
    </div>
    <div class="col-md-12">
      {%for screen in projects%}
      {% if screen.screen1 or screen.screen2%}
      <div class="images">
        <img id='shots' class='img-fluid' width="auto" src="{{screen.screen1.url}}" alt="">
        <img  class='img-fluid'  src="{{screen.screen2.url}}" alt="">
      </div>

      {%else%}
      {%endif%}
      {%endfor%}
    </div>
    <div class="col-md-12">
      <br><br>

      <div class="card comments">
        <div class="card-header">
          <h4> Votes Award users {{all|length}} </h4>
        </div>
        <div class="list-group">
          <ul class="list-group">
            {%if all%}

            <table id='comm' class="table">
              <th>Voters</th>
              <th>Rating</th>
              <th>Stars</th>
              {%for us in all%}
              <tr>

                <td>{{us.user}}</td>
                <td>  <div class="dsign">
                      <a href="">{{us.design}}.0</a>
                      <a href="">{{us.usability}}.0</a>
                      <a class='b' href="">{{us.content}}.0</a>


                  </div></td>

                  <td><b class="tt"><i style="color:red" class="far fa-star "></i><i  style="color:red" class="far fa-star"></i><i class="far fa-star"></i></b></td>
              </tr>
              {%endfor%}

            </table>

            {%else%}
            <li class="list-group-item alert alert-info">No votes Available</li>

            {%endif%}
          </ul>

        </div>

      </div>

    </div>

  </div>
    <br><br>
  <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="ments">
          <p id='om'>comments <i class="far fa-comments"></i></p>
          <hr>
          {%if comments%}
          {%for con in comments%}
          <p> <i class="fas fa-quote-left"></i>{{con.comment}}</p>
          <i>by -- {{con.user}}</i>
          {%endfor%}
          {%else%}
          <p class="alert alert-info">Be the 1st to comment</p>
          {%endif%}
        </div>
        {%if user.is_authenticated%}
        {%for j in projects%}
        <form class="" action="/project/{{j.id}}/" method="post">
          {%csrf_token%}
          {%bootstrap_form review%}
          <button id='area' class="btn btn-outline-default" type="submit" name="button">Comment</button>
        </form>
        {%endfor%}
        {%else%}
        <a href="/accounts/login/"><button class="btn btn-outline-default" type="submit" name="button">Sign in To leave a comment</button></a>
        {%endif%}
      </div>

      <div class="col-md-2"></div>
  </div>
<br><br><br>
</div>

{%endblock%}
