{%extends 'base.html'%}

{{block.super}}
{%block content%}
<div class="home">
<div class="overly">
  <br><br><br>
  <h4 id="awa">Awwards</h4>
  <p>Home of innovation and Ideas </p>
    <button class="btn btn-outline-default" type="button" name="button">Jquery</button>
    <button class="btn btn-outline-danger" type="button" name="button">Css3</button>
    <button class="btn btn-outline-primary" type="button" name="button">Javascript</button>
    <button class="btn btn-outline-secondary" type="button" name="button">UI</button>
    <button class="btn btn-outline-info" type="button" name="button">Material Design</button><br>
    <button class="btn btn-outline-success" type="button" name="button">Bootstrap</button>
    <button class="btn btn-outline-light" type="button" name="button">SweetAlert</button>
</div>
</div>
<br>
<div class="container-fluid">
  <div class="row">
    {%for project in projects%}
    <div class="col-md-4">
      <div class="card content">
        <div class="image">
            <a class="img" href="/project/{{project.id}}">  <img class="img-fluid" src="{{project.image.url}}" alt=""></a>
        </div>
        <div class="check">
          <i class="dta">{{project.date}}</i>
          <p>{{project.name}}</p>

          <hr>
          <div class="">
            <i class="fas fa-pastafarianism"></i>
            <p>by {{project.user}}</p>
          </div>
        </div>

      </div>
      <br>
    </div>

    {%endfor%}

  </div>

</div>

{%endblock%}
