<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="nav-link" href="/"><img height="50"  src="/static/img/log.svg" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form id='search' role="search" action="{%url 'search'%}" class="form-inline my-2 my-lg-0 animated fadeIn" >
      <input required name='name' class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search">
      <button class="btn btn-outline-default" type="submit"<i class="fas fa-search"></i></button>
    </form>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a id="click" class="nav-link" ><i class="fas fa-search"></i> <span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <a id="title" class="navbar-brand" href="/">Awwards.</a>
    {%if user.is_authenticated%}
    <a style="color:black;padding:10px"  href="{%url 'profile'%}"><i class="far fa-user"></i>{{user}}</a>
      {%else%}
      <a class="login" href="/accounts/login/">Login/Register </a>
    {%endif%}
    <a href="{%url 'post'%}" id='submit' class="bg-default my-2 my-sm-0">Submit Project</a>

  </div>
</nav>
