{%extends 'base.html'%}
{%load bootstrap4%}

{{block.super}}
{%block content%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body id="logg">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="loggin">
            <h2>Login</h2>
            <img height="80"  src="/static/img/log.svg" alt="">
            <form class="form-group" action="/accounts/login/" method="POST">
              {%csrf_token%}
              {%bootstrap_form form%}
              <button class="btn btn-default" type="submit" name="button">Login</button>
              <br> <br>
              <p>Dont have an account ? register <a href="/accounts/register/">here</a></p>

            </form>
          </div>

        </div>
        <div class="col-md-3"></div>

      </div>


    </div>
  </body>
</html>


{%endblock%}
